@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart-daily, #chart-cumulative, #chart-states-daily{
  max-width: 950px;
  margin: 35px auto;
}
